<div class="header">
<header>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a routerLink="/" class="navbar-brand" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fa fa-shopping-bag" aria-hidden="true"></i> ShoppingMart.com</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/signup" routerLinkActive="active">Signup <i class="fa fa-user-o" aria-hidden="true"></i></a></li>
        <li><a routerLink="/" routerLinkActive="active">Login <i class="fa fa-lock" aria-hidden="true"></i></a></li>
        <li><a routerLink="/logout" routerLinkActive="active">logout <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </nav>
</header>
</div>

<main>
  <router-outlet (userLogged)="onUserLogged($event)">
  </router-outlet>
</main>