<div class="col-sm-4"></div>
<div class="container col-sm-4">
  <form  #form="ngForm" (ngSubmit)="onSubmit()" *ngIf="active">
    <div class="page-header">
      <h1><i class="fa fa-user" aria-hidden="true"></i> Create an account</h1>
    </div>
  	<div class="form-group" [ngClass]="{'has-error':fname.invalid && fname.touched}">
  		<label for="firstname" class="control-label">FirstName</label>
  		<input type="text" class="form-control" id="fname" name="fname" placeholder="FirstName" required="" [(ngModel)]="newUser.firstname" #fname="ngModel">
      <span class="help-block" *ngIf="fname.invalid && fname.touched">* FirstName is required</span>
  	</div>
		<div class="form-group" [ngClass]="{'has-error':lname.invalid && lname.touched}">
  		<label for="lname" class="control-label">LastName</label>
  		<input type="text" class="form-control" id="lname" name="lname" placeholder="LastName" required="" [(ngModel)]="newUser.lastname" #lname="ngModel">
      <span class="help-block" *ngIf="lname.invalid && lname.touched">* LastName is required</span>
  	</div>
    <div class="form-group"  [ngClass]="{'has-error':username.invalid && username.touched}"> <!-- email field !-->
  		<label for="username" class="control-label">Username</label>
  		<input type="text" class="form-control" id="username" name="username" placeholder="Username" required="" [(ngModel)]="newUser.username" #username="ngModel">
      <span class="help-block" *ngIf="username.invalid && username.touched">* Username is required</span>
  	</div>
		<div class="form-group"  [ngClass]="{'has-error':password.invalid && password.touched}"> <!-- password field !-->
  		<label for="password" class="control-label">Password</label>
  		<input type="password" class="form-control" id="password" name="password" placeholder="Password" required="" [(ngModel)]="newUser.password" #password="ngModel">
      <span class="help-block" *ngIf="password.invalid && password.touched">* Password is required</span>
  	</div>

  	<div class="form-group "> <!-- Submit button !-->
  		<button type="submit" class="btn btn-primary" [disabled]="form.invalid"><i class="fa fa-user" aria-hidden="true"></i> Create Account</button>
  	</div>
  </form>
</div>
<div class="col-sm-4"></div>
